<template>
    <div>
        <article-list />
    </div>
</template>

<script>
import ArticleList from "../components/article-components/ArticleList.vue";

export default {
  name: "Article",
  data: function() {
    return {};
  },
  components: {
    ArticleList
  }
};
</script>
