<template>
<div>
    <v-navigation-drawer
      fixed
      :clipped="$vuetify.breakpoint.mdAndUp"
      app
      v-model="drawer"
    >
      <v-list dense>
        <v-list-tile :to="{ name: 'ArticleList' }">
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Home</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

         <v-list-tile :to="{ name: 'CreateArticle' }" v-if="this.$store.getters.token!=''">
          <v-list-tile-action>
            <v-icon>create</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Create Article</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="indigo"
      dark
      app
      :clipped-left="$vuetify.breakpoint.mdAndUp"
      fixed>
     <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-btn flat large slot="activator" :to="{name:'Home'}">Blog</v-btn>
      </v-toolbar-title>
        <v-text-field
        flat
        solo-inverted
        prepend-icon="search"
        label="Search"
        class="hidden-sm-and-down">
        </v-text-field>
            <v-spacer></v-spacer>
      <v-menu offset-y  v-if="this.$store.getters.token!=''">
        <v-btn icon large slot="activator">
          <v-avatar size="32px" tile>
            <img
              src="https://www.iconspng.com/images/male-avatar/male-avatar.jpg"
              alt=""
            >
          </v-avatar>
        </v-btn>
        <v-list>
          <v-list-tile @click="logout()">
            <v-list-tile-action>
              <v-icon>person</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Log out</v-list-tile-title>
            </v-list-tile-content>
            
          </v-list-tile>
          
        </v-list>
      </v-menu>
      <div v-else>
        <v-btn flat large :to="{name: 'Login'}">Login</v-btn>
        <v-btn flat large :to="{name: 'Register'}">Register</v-btn>
      </div>
     
    </v-toolbar>
  </div>
</template>

<script>
export default {
  name: "Toolbar",
  data: () => ({
    drawer: true
  }),
  methods: {
    logout: function() {
      this.$store.commit("reset");
    }
  }
};
</script>
