<template>
    <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Login</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form v-model="valid" lazy-validation ref="form" >
                    <v-text-field
                      prepend-icon="person"
                      v-model="name"
                      :rules="nameRules"
                      label="User Name"
                      required
                      @keyup.enter="submit"
                    ></v-text-field>
                    <v-text-field
                      prepend-icon="lock"
                      v-model="password"
                      :rules="passwordRules"
                      label="Password"
                      type="password"
                      required
                      @keyup.enter="submit"
                    ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="submit">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
         <b-modal
          ref="loginModal"
          :title=loginTitle
          :ok-only="true" style="color:black"
          @hidden="Home">
          <p class="my-4">{{ loginContent }}</p>
        </b-modal>
    </v-container>
</template>

<script>
import userServices from "../../api-services/user-services.js";
export default {
  name: "Login",
  data: function() {
    return {
      valid: true,
      name: "",
      nameRules: [
        v => !!v || "Name is required",
        v => v.length <= 10 || "Name must be less than 10 characters"
      ],
      password: "",
      passwordRules: [
        v => !!v || "E-mail is required",
        v => v.length >= 6 || "Password must be more than 6 characters"
      ],
      loginTitle: "",
      loginContent: ""
    };
  },
  methods: {
    submit: function() {
      if (this.$refs.form.validate()) {
        userServices
          .login({
            Username: this.name,
            Password: this.password
          })
          .then(response => {
            this.loginTitle = "Login";
            this.loginContent = "Login successfully!";
            this.$store.commit("setToken", { token: response.data.token });
            this.$store.commit("setUser", { user: response.data.user });
            this.$refs.loginModal.show();
          })
          .catch(() => {
            this.loginTitle = "Error";
            this.loginContent = "Username or Password invalid!";
            this.$refs.loginModal.show();
          });
      }
    },
    Home: function() {
      if (this.loginTitle == "Login") {
        this.$router.push("Article");
      }
    }
  }
};
</script>
