<template>
    <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Register</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form v-model="valid" lazy-validation ref="form">
                  <v-text-field 
                    prepend-icon="info" 
                    v-model="fullname" 
                    label="Full Name" 
                    type="text"
                    :rules="nameRules"
                    required>
                  </v-text-field>
                  <v-text-field 
                    prepend-icon="person" 
                    v-model="username" 
                    label="User name" 
                    type="text"
                    :rules="usernameRules"
                    :error-messages = "checkUsername()"
                    required>
                  </v-text-field>
                  <v-text-field
                    prepend-icon="email"
                    v-model="email"
                    :rules="emailRules"
                    label="E-mail"
                    required
                  ></v-text-field>
                  <v-text-field 
                    prepend-icon="lock" 
                    v-model="password" 
                    label="Password" 
                    id="password" 
                    type="password"
                    :rules="passwordRules"
                    required>
                  </v-text-field>
                  
                  <v-text-field 
                    prepend-icon="lock" 
                    v-model="confirmpassword" 
                    label="Confirm Password" 
                    id="confirm-password" 
                    type="password"
                    :rules="confirmRules"
                    :error-messages = "checkConfirmPassword()"
                    required>
                  </v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn 
                  color="primary" 
                  :disabled="!valid"
                  @click="submit">
                  Register
                  </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
        <b-modal
          ref="registerModal"
          :title=registerTitle
          :ok-only="true" style="color:black"
          @hidden="LoginForm">
          <p class="my-4">{{ registerContent }}</p>
        </b-modal>
    </v-container>
</template>

<script>
import userServices from "../../api-services/user-services.js";
export default {
  name: "Register",
  data: function() {
    return {
      valid: false,
      fullname: "",
      nameRules: [
        v => !!v || "Full Name is required",
        v => v.length <= 50 || "Name must be less than 50 characters"
      ],
      username: "",
      usernameRules: [
        v => !!v || "Username is required",
        v => v.length <= 10 || "Username must be less than 10 characters"
      ],
      email: "",
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+/.test(v) || "E-mail must be valid"
      ],
      password: "",
      passwordRules: [
        v => !!v || "Password is required",
        v => v.length >= 6 || "Password must be more than 6 characters"
      ],
      confirmpassword: "",
      confirmRules: [v => !!v || "Confirm Password is required"],
      registerTitle: "",
      registerContent: ""
    };
  },
  methods: {
    checkUsername: function() {
      return !this.username.toString().includes(" ")
        ? ""
        : "Username does not contain whitespace";
    },
    checkConfirmPassword: function() {
      return this.confirmpassword === this.password
        ? ""
        : "Wrong Confirm Password";
    },
    submit: function() {
      if (this.$refs.form.validate()) {
        userServices
          .register({
            Fullname: this.fullname,
            Username: this.username,
            Email: this.email,
            Password: this.password
          })
          .then(() => {
            this.registerTitle = "Register";
            this.registerContent = "Successfully register";
            this.$refs.registerModal.show();
          })
          .catch(error => {
            this.registerTitle = "Error";
            this.registerContent = error.response.data.Model[0];
            this.$refs.registerModal.show();
          });
      }
    },
    LoginForm: function() {
      if (this.registerTitle == "Register") {
        this.$router.push("Login");
      }
    }
  }
};
</script>
