<template>
    <div>
      <div v-if="this.userId==this.$store.getters.user.id">
          <button  class="btn btn-primary right" @click="$refs.deleteModal.show()">Delete</button>
          <button  class="btn btn-primary right" @click="Edit(id)">Edit</button>
      </div>
          <!--Article header-->
        <h1 class="mt-4">{{this.title}}</h1>
        <p class="lead">By {{this.username}} Post on {{this.dateCreate}}</p>
       
        <p></p>

        <img :src="this.thumbnail" alt="" width="600px" height="auto">
    
        <!--Article Content-->
        <p v-html="this.content"></p>
      
         <!--Comment-->
        <div>
          <hr/>
             <!--Submit comment-->
            <h5>Leave a Comment:</h5>
            <div class="card-body">
                    <div class="form-group">
                        <b-textarea 
                        class="form-control" 
                        v-model="commentArea" 
                        id="commentArea" 
                        rows="3" no-resize/>
                    </div>
                    <button type="submit" class="btn btn-primary left" @click="submitComment()">Comment</button>
            </div>
            <hr/>
         <!--Recent comment-->
        <div
         v-for="comment in this.comments"
         :key="comment.id">
         <div class="row" :id="comment.id">
            <div class="col-md-2">
              <v-icon class="left" size="120px">person</v-icon>
            </div>
             <div class="col-md-9" style="text-align : left">
                <p class="text-muted">{{ comment.dateCreate }}</p>
                 <p>{{ comment.username }}</p>
                 <h4><strong>{{ comment.content }}</strong></h4>
             </div>
             <div class="col-md-1" style="text-align : left">
                <v-menu offset-y v-if="$store.getters.user.id==comment.userId">
                   <v-btn icon large slot="activator">
                      <v-avatar size="32px" tile>
                        <v-icon>menu</v-icon>
                      </v-avatar>
                    </v-btn>
                     <v-list>
                       <v-list-tile @click="EditComment()">
                          <v-list-tile-action>
                            <v-icon>edit</v-icon>
                          </v-list-tile-action>
                          <v-list-tile-content>
                            <v-list-tile-title>Edit</v-list-tile-title>
                          </v-list-tile-content>
                        </v-list-tile>

                        <v-list-tile @click="DeleteComment(comment.id)">
                          <v-list-tile-action>
                            <v-icon>delete</v-icon>
                          </v-list-tile-action>
                          <v-list-tile-content>
                            <v-list-tile-title>Delete</v-list-tile-title>
                          </v-list-tile-content>
                        </v-list-tile>
                     </v-list>
                </v-menu>
             </div>
          </div>
            <hr/>
         </div>
        </div>
        <b-modal
          ref="deleteModal"
          title="Confirm Delete"
          @ok="Delete(id)"
          style="color: black">
          <p class="my-4">Do you want to delete this article?</p>
        </b-modal>
    </div>
</template>

<script>
import articleServices from "../../api-services/article-services.js";
import commentServices from "../../api-services/comment-services.js";
export default {
  name: "ArticleDetail",
  data: function() {
    return {
      id: null,
      title: null,
      content: null,
      userId: null,
      username: null,
      dateCreate: null,
      thumbnail: null,
      comments: [],
      commentArea: ""
    };
  },
  props: {},
  methods: {
    submitComment: function() {
      debugger;
      if (this.$store.getters.token == "") {
        this.$router.push({ name: "Login" });
      } else {
        commentServices
          .addComment(
            {
              ArticleId: this.id,
              UserId: this.$store.getters.user.id,
              Content: this.commentArea,
              DateCreate: Date.now()
            },
            this.$store.getters.token
          )
          .then(response => {
            debugger;
            this.comments.unshift(response.data);
            this.commentArea = "";
          })
          .catch(error => {
            alert(error.data);
          });
      }
    },
    Delete(id) {
      articleServices
        .delete(id, this.$store.getters.token)
        .then(() => {
          this.$router.push({ name: "ArticleList" });
        })
        .catch(error => {
          console.log(error);
        });
    },
    Edit(id) {
      this.$router.push({ name: "EditArticle", params: { id: id } });
    },
    DeleteComment(id) {
      debugger;
      commentServices
        .delete(id, this.$store.getters.token)
        .then(() => {
          this.comments.shift(this.comments[this.comments.id]);
        })
        .catch(error => {
          alert(error);
        });
    }
  },
  created() {
    this.id = this.$router.currentRoute.params.id;
    debugger;
    articleServices
      .get(this.id)
      .then(response => {
        debugger;
        if (this.response == "") this.$router.push({ name: "NotFound" });
        else {
          this.id = response.data.id;
          this.title = response.data.title;
          this.content = response.data.content;
          this.userId = response.data.userId;
          this.username = response.data.username;
          this.dateCreate = response.data.dateCreate;
          this.thumbnail = response.data.thumbnail;
          this.comments = response.data.comment;
        }
      })
      .catch(() => {
        debugger;
        this.$router.push({ name: "NotFound" });
      });
  }
};
</script>
