<template>
<div class="list-article">
    <div  
    v-for="result in results"
    :key="result.id">
        <div class="row">
            <div class="col-md-2">
                <a><img :src="result.thumbnail" height="120" style="width:120px!important" /></a>
            </div>
            <div class="col-md-10" style="text-align : left">
                    <p class="text-muted">{{ result.dateCreate }}</p>
                    <p>{{ result.username }}</p>
                    <h4><a  @click="onArticleClick(result.id)"><strong>{{ result.title }}</strong></a></h4>
            </div>
        </div>
        <hr/>
    </div>
    <b-pagination 
        class="my-5" 
        align="center" 
        size="md" 
        :total-rows="this.totalarticle" 
        v-model="currentPage" 
        :per-page="10"
        @change="PageChange"
      >
    </b-pagination>
    
</div>
</template>

<script>
import articleService from "../../api-services/article-services.js";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

export default {
  name: "ArticleList",
  data() {
    return {
      results: [],
      currentPage: 1,
      totalarticle: null
    };
  },
  created() {
    articleService.getAll(this.currentPage, 10).then(response => {
      this.results = response.data.listArticle;
      this.totalarticle = response.data.totalArticle;
    });
  },
  computed: {},
  methods: {
    onArticleClick: function(articleId) {
      this.$router.push({ name: "ArticleDetail", params: { id: articleId } });
    },
    PageChange: function(page) {
      debugger;
      articleService.getAll(page, 10).then(response => {
        debugger;
        this.results = response.data.listArticle;
        this.totalarticle = response.data.totalarticle;
      });
    }
  }
};
</script>
