<template>
    <div>
        <div 
         v-for="comment in data.comments"
         :key="comment.id">
           <v-icon class="left">person</v-icon>
           <div class="">
                <h2 >{{comment.username}}</h2>
                <h4 class="mt-0 ">{{comment.content}}</h4>
                 <hr/>
           </div>
        

         </div>
    </div>
</template>

<script>
export default {
  data: function() {
    return {};
  },
  props: {}
};
</script>

<style>
</style>
