<template>
    <div>
        <h1>Create an Article</h1>
            <div class="form-group">
                <label for="Title" class="control-label left">Title:</label>
                <input v-model="Title" class="form-control" name="Title" v-validate="{ required:true }" />
                <span style="color:red">{{ errors.first('Title') }}</span>
            </div>
            <hr/>
            <h4>Image</h4>
            <input 
              class="left" 
              type="file" 
              name="Image"
              id="file" 
              ref="file" 
              v-on:change="loadImage()" 
              v-validate="{required:true}"/>
              <span style="color:red">{{ errors.first('Image') }}</span>
            <hr/>
                <label for="Content" class="control-label left">Content:</label>
                <vue-ckeditor 
                  v-model="Content" 
                  name="Content" 
                  v-validate="{required:true}"/>
                 <span style="color:red">{{ errors.first('Content') }}</span>
            <hr/>
              
            <button class="btn btn-primary left" @click="submit()">Submit</button>
        
    </div>
</template>

<script>
import articleServices from "../../api-services/article-services.js";
import VeeValidate from "vee-validate";
import VueCkeditor from "vue-ckeditor2";

export default {
  name: "CreateArticle",
  data: function() {
    return {
      Title: null,
      Content: null,
      UserId: null,
      Username: null,
      trix: null,
      FileUpload: null,
      formData: null
    };
  },
  methods: {
    submit: function() {
      this.$validator.validateAll().then(isSuccessful => {
        if (isSuccessful) {
          debugger;
          this.formData = new FormData();
          this.formData.append("image", this.FileUpload);
          this.formData.append("Title", this.Title);
          this.formData.append("Content", this.Content);
          this.formData.append("UserId", this.$store.getters.user.id);
          this.formData.append("Username", this.$store.getters.user.fullName);
          articleServices
            .createArticle(this.formData, this.$store.getters.token)
            .then(response => {
              debugger;
              this.$router.push({
                name: "ArticleDetail",
                params: { id: response.data.id }
              });
            })
            .catch(error => {
              debugger;
              alert(error.data);
            });
        }
      });
    },
    loadImage: function() {
      this.FileUpload = this.$refs.file.files[0];
    }
  },
  components: {
    VeeValidate,
    VueCkeditor
  }
};
</script>
