<template>
    <div>
      <h1>Edit Article</h1>
                <div class="form-group">
            <label for="title" class="control-label left">Title:</label>
            <input v-model="article.title" class="form-control" name="Title" v-validate="{ required:true }" />
             <span style="color:red">{{ errors.first('Title') }}</span>
        </div>
        <hr/>
        <label for="file" >Thumbnail:</label>
          <hr/>
        <input class="left" type="file" id="file" ref="file" v-on:change="loadImage()" name="Image"  v-validate="{required:true}"/>
          <span style="color:red">{{ errors.first('Image') }}</span>
        <hr/>
        <div class="form-group">
            <label for="content" class="control-label left">Content:</label>
            <vue-ckeditor 
                  v-model="article.content" 
                  name="Content" 
                  v-validate="{required:true}"/>
                    <span style="color:red">{{ errors.first('Content') }}</span>
            
        </div>
        <hr/>
        <button class="btn btn-primary left" @click="submit()">Submit</button>     
    </div>
</template>

<script>
import articleServices from "../../api-services/article-services.js";
import VeeValidate from "vee-validate";
import VueCkeditor from "vue-ckeditor2";
export default {
  name: "EditArticle",
  data: function() {
    return {
      article: {
        id: null,
        title: null,
        content: null
      },
      FileUpload: null,
      content: "",
      title: "",
      id: null,
      formData: null
    };
  },
  methods: {
    submit: function() {
      this.$validator.validateAll().then(isSuccessful => {
        if (isSuccessful) {
          this.formData = new FormData();
          if (this.FileUpload != null)
            this.formData.append("image", this.FileUpload);

          this.formData.append("Title", this.article.title);
          this.formData.append("Content", this.article.content);
          this.formData.append("UserId", this.$store.getters.user.id);
          this.formData.append("Id", this.id);

          articleServices
            .edit(this.formData, this.$store.getters.token)
            .then(response => {
              debugger;
              console.log(response);
              this.$router.push({
                name: "ArticleDetail",
                params: { id: this.id }
              });
            })
            .catch(error => {
              debugger;
              alert(error);
            });
        }
      });
    },
    loadImage: function() {
      this.FileUpload = this.$refs.file.files[0];
    }
  },
  created() {
    this.id = this.$router.currentRoute.params.id;
    articleServices
      .get(this.id)
      .then(response => {
        if (this.response == "") this.$router.push({ name: "NotFound" });
        else this.article = response.data;
      })
      .catch(() => {
        this.$router.push({ name: "NotFound" });
      });
  },
  components: {
    VueCkeditor,
    VeeValidate
  }
};
</script>
