<template>
 <div id="app">
  <v-app id="inspire" >
    <toolbar/>
    <v-content>
        <router-view></router-view>
    </v-content>
  </v-app>
</div>
</template>

<script>
import Toolbar from "./views/Toolbar.vue";
export default {
  name: "App",
  components: {
    Toolbar
  }
};
</script>
